/*import font*/
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css?family=Carter+One");

/* Variables */
$primary-color: white;
$primary-color-more-opacity: rgba(255, 255, 255, 0.6);
$secondary-color: white; //body background
$accent-color: red; //link highlighting, borders
$text-color: black;

$header-font: "Permanent Marker", cursive;
$secondary-font: "Carter One", cursive;

/*mixins*/
@mixin primaryButton {
  font-family: $secondary-font;
  border: 1.5px solid $accent-color;
  background-color: $primary-color-more-opacity;
  padding: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 7px;
  width: 150px;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  &:hover {
    background-color: $primary-color;
  }
}

@mixin imageHover($text) {
  font-family: $header-font;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 2em;
  color: $text-color;

  &:hover::after {
    content: $text;
  }
}

@mixin stickyHeader() {
  position: fixed;
  top: 0;
  width: 100%;
}

//remove default styling
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
