/*import font*/
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css?family=Carter+One");
/* Variables */
/*mixins*/
/* styling */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: white;
  width: 100vw;
  /*start header formatting*/
  /*end header formatting*/
  /*start hero formatting*/
  /*end hero formatting*/
  /*start hours formatting*/
  /*end hours formatting*/
  /*start about formatting*/
  /*end about formatting*/
  /*start gallery formatting*/
  /*end gallery formatting*/
  /*
  start footer formatting
  tutorial: https://www.youtube.com/watch?v=KUHrMzN7ey8
  */
  /*end footer formatting*/
}

body header {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 10%;
  border-bottom: 2px solid red;
  font-family: "Permanent Marker", cursive;
  overflow: hidden;
  /*start navbar link list formatting*/
  /*end navebar link list formatting*/
}

body header ul {
  list-style: none;
}

body header ul li {
  display: inline-block;
  padding: 0px 1.5vw;
}

body header ul li a {
  text-decoration: none;
  color: black;
  text-align: center;
  cursor: pointer;
  font-family: "Carter One", cursive;
}

body header ul li a:hover {
  color: red;
}

body header button {
  font-family: "Carter One", cursive;
  border: 1.5px solid red;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 7px;
  width: 150px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body header button:hover {
  background-color: white;
}

body header button:hover {
  background-color: red;
}

body .hero-image {
  min-height: 70vh;
  background: url(../img/hero-background.jpg) no-repeat center;
  background-size: cover;
  font-family: "Permanent Marker", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  text-align: center;
}

body .hero-image h1 {
  font-size: 4em;
}

body .hero-image p {
  font-size: 2em;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Carter One", cursive;
}

body .hero-image button {
  font-family: "Carter One", cursive;
  border: 1.5px solid red;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 7px;
  width: 150px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 5px;
}

body .hero-image button:hover {
  background-color: white;
}

body .info-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 5em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  text-align: center;
  padding: 2em;
  white-space: nowrap;
}

body .info-section h2 {
  font-family: "Permanent Marker", cursive;
  border-bottom: 2px solid red;
  font-size: 3em;
}

body .info-section ul {
  font-family: "Carter One", cursive;
  font-size: 1.5em;
}

body .about {
  font-family: "Carter One", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

body .about h2 {
  font-family: "Permanent Marker", cursive;
}

body .about img {
  width: 40vw;
}

body .about .about-text {
  padding: 30px;
}

body .gallery .top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 50vh;
}

body .gallery .top-section .top-left {
  background: url(../img/gallery/food1.jpg) no-repeat center;
  background-size: cover;
  width: 60%;
  font-family: "Permanent Marker", cursive;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 2em;
  color: black;
}

body .gallery .top-section .top-left:hover::after {
  content: "BBQ Pizza";
}

body .gallery .top-section .top-right {
  width: 40%;
}

body .gallery .top-section .top-right .top-above {
  background: url(../img/gallery/food2.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 50%;
  font-family: "Permanent Marker", cursive;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 2em;
  color: black;
}

body .gallery .top-section .top-right .top-above:hover::after {
  content: "Pepperoni Pizza";
}

body .gallery .top-section .top-right .top-below {
  background: url(../img/gallery/food3.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 50%;
  font-family: "Permanent Marker", cursive;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 2em;
  color: black;
}

body .gallery .top-section .top-right .top-below:hover::after {
  content: "Artichoke Pizza";
}

body .gallery .bottom-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 50vh;
}

body .gallery .bottom-section .bottom-left {
  width: 40%;
}

body .gallery .bottom-section .bottom-left .bottom-above {
  background: url(../img/gallery/food4.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 50%;
  font-family: "Permanent Marker", cursive;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 2em;
  color: black;
}

body .gallery .bottom-section .bottom-left .bottom-above:hover::after {
  content: "Breakfast Pizza";
}

body .gallery .bottom-section .bottom-left .bottom-below {
  background: url(../img/gallery/food5.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 50%;
  font-family: "Permanent Marker", cursive;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 2em;
  color: black;
}

body .gallery .bottom-section .bottom-left .bottom-below:hover::after {
  content: "Cheese Pizza";
}

body .gallery .bottom-section .bottom-right {
  background: url(../img/gallery/food6.jpg) no-repeat center;
  background-size: cover;
  width: 60%;
  font-family: "Permanent Marker", cursive;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 2em;
  color: black;
}

body .gallery .bottom-section .bottom-right:hover::after {
  content: "Margarhita Pizza";
}

body .footer-container {
  font-family: "Carter One", cursive;
  height: 20vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-top: 2px solid red;
}

body .footer-container h2 {
  font-family: "Permanent Marker", cursive;
}

body .footer-container .logo-container {
  text-align: center;
}

body .footer-container a {
  color: black;
}

body .footer-container a:hover {
  color: red;
}

body .footer-container .footer-third-brands li {
  display: inline-block;
}

body .copyright {
  font-family: "Carter One", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3px;
}

body .rdm-bar {
  background-color: red;
  text-align: center;
  font-family: "Carter One", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

body .rdm-bar img {
  height: 7vh;
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 45vh !important;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .about img {
    width: 90vw !important;
  }
  .info-section {
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
  }
}
/*# sourceMappingURL=style.css.map */